<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Calculator</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div align = "center">
    <form th:action="@{/bok}" th:object="${calc}" method="post">
   <label>Szerokość rejki </label>
    <input type="number" th:field="*{rowLenght}"/><br>
    <input type="submit" value="jedziesz"/>
</form>
</div>
</body>
</html>
