body{
color: #4e691d;
background-color: #060808;
line-height: 1.3em;

}
.header{

}

a:link {
text-decoration: none;
  color: #4e691d;
}

a:visited {
  color:#4e691d;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

ul {
  list-style-type: none;
}

input[type=text],input[type=number]{
    height:1em;
    background-color:#ffffff;
    border: none;
    border-bottom: #4e691d;
    -webkit-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}

input[type=text]:focus,input[type=number]:focus {
    background-color: #fefae5;
    height:2em;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color:#4e691d;
    border: none;
    color: #060808 ;
}

input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover{
    transition:transform 2s;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}