<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name= viewport content= width=device-width initial-scale=1 maximum-scale=1>
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Szerokość rejki</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div align="center">
<form th:action="@{/rzad}" th:object="${calc}" method="post">
        <label>Szerokość klepki</label>
        <input type="number" th:field="*{width}"/><br>
        <label>Długość od szpica do szpica</label>
        <input type="number" th:field="*{totalLenght}"/>
    <input type="submit" value="jedziesz"/>
</form>
</div>

</body>
</html>
